body{
    overflow: hidden;
}

#cow {
    position: absolute;
    visibility: hidden;
    /* opacity: 0.5; */
}

#finalDiv {
    width: 250px;
    display: block;
    box-sizing: border-box;
    position: absolute;
    padding: 40px 40px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow:3px 3px 6px #333333; 
}

div p {
    margin-left: 25px;
}